<!doctype html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <title>People of Gaul</title>
</head>
<body>
<div class="container">
    <div id="app">
        <h1 class="mb-4">People of Gaul</h1>
        <ul class="list-group mb-4">
            <li class="list-group-item"
                v-for="people in orderedPeople"
            >
                <span class="mr-4">{{ people.name }} {{ people.age }}</span>
            </li>
        </ul>

        <h1>"Old" People of Gaul</h1>
        <ul class="list-group mb-4">
            <li class="list-group-item"
                v-for="people in oldPeople"
            >
                <span class="mr-4">{{ people.name }} {{ people.age }}</span>
            </li>
        </ul>

        <pre class="mt-4">{{ $data }}</pre>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.3.4/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/lodash@4.17.5/lodash.min.js"></script>
<script>
  var peopleOfGaul = [
    { name: 'Obelix', age: 31 },
    { name: 'Asterix', age: 32 },
    { name: 'Julius Caesar', age: 56 },
    { name: 'Majestic', age: 62 }
  ];

  new Vue({
    data: {
      peopleOfGaul: peopleOfGaul
    },
    el: '#app',
    computed: {
      orderedPeople: function () {
        return _.orderBy(this.peopleOfGaul, 'age', ['asc'])
      },
      oldPeople: function() {
        return _.filter(this.peopleOfGaul, function(people) {
          return people.age >= 56;
        })
      }
    }
  });
</script>
</body>
</html>